
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    ul {
        list-style-type: square;
        }

    li{
        font-family: "Roboto", sans-serif;
        margin-left: 3px; 
        font-weight: normal;
        font-style: normal;
      }

    .roboto-medium {
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-style: normal;
    }

    .roboto-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: italic;
    }

    .dancing-script {
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
        font-weight: 40;
        font-style:normal;
      }

      .lable {
        display: flex; 
      }
    
      .lable1 {
        font-weight: bold;
      }

      .mt-1 {
        margin-top: 1rem;
      }

      .lable2 {
        margin-left: 3px; 
        font-weight: lighter;
      }

      .lable3 {
        padding: 1rem;
      }

    

    .Portifolio{
        display: flex;
        justify-content: center;
        background: rgb(215,115,159);
        background: radial-gradient(circle, rgba(215,115,159,1) 10%, rgb(105, 163, 229) 94%);
        margin-top: 6rem;
    }

    .profile-img{
        border-radius: 20rem;
        border: 10px solid #f30771;
        box-shadow: 0 0 30px #050505ec;
        
    }

    .profile-info{
        margin-left: 2rem;
    }

