
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    ul {
        list-style-type: square;
        }

    .roboto-medium {
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-style: normal;
    }

    .dancing-script {
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
        font-weight: 40;
        font-style:normal;
      }
    
    

    .Portifolio{
        display: flex;
        justify-content: center;
        background: rgb(215,115,159);
        background: radial-gradient(circle, rgba(215,115,159,1) 10%, rgb(105, 163, 229) 94%);
        margin-top: 6rem;
    }

    .profile-img{
        border-radius: 20rem;
        border: 10px solid #f30771;
        box-shadow: 0 0 30px #050505ec;
        
    }

    .profile-info{
        margin-left: 2rem;
    }

